<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Active Perspective
      </mat-panel-title>
      <mat-panel-description>
        Open for other Perspectives
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>Boas Perspective</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>What to learn for test</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>other fancy way to look at it</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Levels
      </mat-panel-title>
      <mat-panel-description>
        Dimensions in the network from level
        <button>1</button> to
        <button>4</button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>Level 1</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Level 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Level 3</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Level 4</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Tag dimensions
      </mat-panel-title>
      <mat-panel-description>
        <mat-slide-toggle>Toggle all</mat-slide-toggle>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>Tag dimension 1
        <mat-slide-toggle></mat-slide-toggle>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Tag dimension 2
        <mat-slide-toggle></mat-slide-toggle>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Tag dimension 3
        <mat-slide-toggle></mat-slide-toggle>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Tag dimension 4
        <mat-slide-toggle></mat-slide-toggle>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>


<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Time dimensions
      </mat-panel-title>
      <mat-panel-description>
        <mat-slide-toggle>Toggle all</mat-slide-toggle>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>Time 1
        <mat-slide-toggle></mat-slide-toggle>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Time 2
        <mat-slide-toggle></mat-slide-toggle>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Time 3
        <mat-slide-toggle></mat-slide-toggle>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Time 4
        <mat-slide-toggle></mat-slide-toggle>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>





<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Numeric dimensions
      </mat-panel-title>
      <mat-panel-description>
        <mat-slide-toggle>Toggle all</mat-slide-toggle>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>Numeric dimension 1
        <mat-slide-toggle></mat-slide-toggle>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Numeric dimension 2
        <mat-slide-toggle></mat-slide-toggle>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Numeric dimension 3
        <mat-slide-toggle></mat-slide-toggle>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Numeric dimension 4
        <mat-slide-toggle></mat-slide-toggle>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>


