<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p>{{ selectedPerspective.label }}</p>
      </mat-panel-title>
      <mat-panel-description>
        Open for other Perspectives
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <div *ngFor="let perspective of perspectives">
        <mat-list-item>
          <button mat-button (click)="changePerspective(perspective)">{{ perspective.label }}</button>
        </mat-list-item>
      </div>
      <mat-divider></mat-divider>
      <button mat-button (click)="newPerspective()">New Perspective</button>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>


<div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Levels
        </mat-panel-title>
        <mat-panel-description>
          Show only certain Levels
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list *ngIf="allDimensions">
        <mat-list-item *ngFor="let levelDim of allDimensions.levelDimensions">
          <button mat-button *ngIf="levelDim.selected" (click)="toggleLevel(levelDim)">{{ levelDim.label }} (Level {{ levelDim.level }})</button>
          <button mat-button  color="primary" *ngIf="!levelDim.selected" (click)="toggleLevel(levelDim)">{{ levelDim.label }} (Level {{ levelDim.level }})</button>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tag dimensions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list *ngIf="allDimensions">
        <mat-list-item *ngFor="let tagDim of allDimensions.tagDimensions">
          <button *ngIf="tagDim.selected"  mat-button (click)="toggleTag(tagDim)">{{ tagDim.label }}:
            <p *ngFor="let tag of tagDim.tags">{{ tag }} </p>
          </button>
          <button color="primary" *ngIf="!tagDim.selected" mat-button (click)="toggleTag(tagDim)">{{ tagDim.label }}:
              <p *ngFor="let tag of tagDim.tags">{{ tag }} </p>
            </button>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>


  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Time dimensions
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list *ngIf="allDimensions">
        <mat-list-item *ngFor="let dateDim of allDimensions.dateDimensions">
          <button mat-button  *ngIf="dateDim.selected" (click)="toggleDate(dateDim)">{{ dateDim.label }}: </button>
          <button color="primary" *ngIf="!dateDim.selected" mat-button (click)="toggleDate(dateDim)">{{ dateDim.label }}: </button>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>





  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Numeric dimensions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list *ngIf="allDimensions">
        <mat-list-item *ngFor="let numberDim of allDimensions.numberDimensions">
          <button *ngIf="numberDim.selected" mat-button (click)="toggleNumber(numberDim)">{{ numberDim.label }}: </button>
          <button color="primary" *ngIf="!numberDim.selected" mat-button (click)="toggleNumber(numberDim)">{{ numberDim.label }}: </button>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  <form>
      <mat-form-field>
        <input matInput placeholder="New" aria-label="selectedPerspective.label" [formControl]="label">
      </mat-form-field>
      <button mat-raised-button (click)="savePerspective()">Save Perspective</button>
    </form>
  
</div>