.row {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
[class*="col-"] {
  text-align: center;
  background-color: white;
}
.mid-links {
background-color: #306875;
}

.left-links {
background-color: #2E746F;
}


.right-links {
background-color: #336078;
}

.bot-links {
background-color: #52808B;
}

.top-links {
background-color: #185361;
}

.topleft-links {
background-color: #508A86;
}

.topright-links {
background-color: #567B8F;
}
strong {
  font-size: 25px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn:hover, .btn:focus, .btn:active, .btn.active, .open > .dropdown-toggle.btn {
    background: #77979E;
}
 
.btn:active, .btn.active {
    background: #77979E;
    box-shadow: none;
}
.padding {
}
.input-group-addon {
  padding: 0 0 0 0;

}
.delete-btn {
  margin: 0 0 0 0;
}