/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/cdk/overlay";
@import '~@angular/cdk/overlay-prebuilt.css';
@import '~@angular/cdk/a11y-prebuilt.css';

@include cdk-overlay();

html{

  height: 100%;
}

.draggable {
  cursor: move;
  user-select: none;
}



.movable:not(.dragging) {
  transition: transform 300ms ease-in-out;
}