.example-container {
 }  

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.one-card {
  
}

.example-header-image {
  background-image: url('');
  background-size: cover;
}