

.btn {
 background-color:#5F5293;
}
 
 .btn:hover {
 background-color:#7F559D;
}
 
strong {
  font-size: 25px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn {
    color: #ffffff;
}
 
.btn:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #7F559D;
}
 
.btn:active, .btn-primary.active {
    background: #5F5293;
    box-shadow: none;
}