<mat-toolbar-row *ngIf="selectedThought.level >= 0">

  <form class="searchbar-form">
    <mat-form-field class="searchbar-full-width">
      <input matInput placeholder="New" aria-label="Thought" [formControl]="newThought">
    </mat-form-field>
    <button mat-button *ngIf="selectedThought.label" (click)="onNewSubmit()">Save Thought</button>


  </form>
  
</mat-toolbar-row>
<div *ngIf="selectedThought.level < 0">
    <form class="searchbar-form">
  <mat-toolbar-row>

   
      <mat-form-field class="searchbar-full-width">
        <input matInput placeholder="Create a new Persona" aria-label="Thought" [formControl]="newPersona">
      
      </mat-form-field>
     
</mat-toolbar-row>
<mat-toolbar-row>
    <mat-slide-toggle>Make it a public Persona</mat-slide-toggle>
    <button mat-button *ngIf="selectedThought.label" (click)="onPersonaSubmit()">Save Persona</button>  
</mat-toolbar-row>
</form>
</div>


