<!-- Sidebar -->
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
      <button type="button" mat-button>Context of Memories</button>
  </mat-drawer>	 

   


<!-- Main Card -->
<mat-card class="main-card">
<mat-card-title>
  <button type="button" class="context" mat-button>Memories</button>
</mat-card-title>
<mat-list>
  <mat-list-item *ngFor="let thought of thoughts"><button type="button" mat-button routerLink="/favorites/{{thought._id}}">{{ thought.label }}</button></mat-list-item>
</mat-list>
 
</mat-card>
</mat-drawer-container>
