<mat-card>
  <mat-card-title>
    Welcome to the infinity Cloud...
  </mat-card-title>
  <mat-card-content>
    <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" (ngSubmit)="onRegisterSubmit()">
          <ng-template matStepLabel>Register Account</ng-template>
          <mat-form-field [ngClass]="{'has-error': (firstFormGroup.controls.username.errors && firstFormGroup.controls.username.dirty) || (!usernameValid && firstFormGroup.controls.username.dirty), 'has-success': !firstFormGroup.controls.username.errors && usernameValid}">
            <input matInput placeholder="Username" class="form-control" formControlName="username" (blur)="checkUsername()" required>
          </mat-form-field>
          <ul class="help-block">
            <li *ngIf="firstFormGroup.controls.username.errors?.required && firstFormGroup.controls.username.dirty">This field is required</li>
            <li *ngIf="firstFormGroup.controls.username.errors?.minlength && firstFormGroup.controls.username.dirty || firstFormGroup.controls.username.errors?.maxlength && firstFormGroup.controls.username.dirty ">Minimum characters: 3, Maximum characters: 15</li>
            <li *ngIf="firstFormGroup.controls.username.errors?.validateUsername && firstFormGroup.controls.username.dirty">Username must not have any special characters</li>
            <li *ngIf="usernameMessage">{{ usernameMessage }}</li>
          </ul>

          <mat-form-field [ngClass]="{'has-error': (firstFormGroup.controls.email.errors && firstFormGroup.controls.email.dirty) || (!emailValid && firstFormGroup.controls.email.dirty), 'has-success': !firstFormGroup.controls.email.errors && emailValid}">
            <input matInput placeholder="E-Mail" class="form-control" formControlName="email" formControlName="email" (blur)="checkEmail()"
              required>
          </mat-form-field>
          <ul class="help-block">
            <li *ngIf="firstFormGroup.controls.email.errors?.required && firstFormGroup.controls.email.dirty">This field is required</li>
            <li *ngIf="(firstFormGroup.controls.email.errors?.minlength && firstFormGroup.controls.email.dirty || firstFormGroup.controls.email.errors?.maxlength && firstFormGroup.controls.email.dirty ) && firstFormGroup.controls.email.dirty">Minimum characters: 5, Maximum characters: 30</li>
            <li *ngIf="firstFormGroup.controls.email.errors?.validateEmail && firstFormGroup.controls.email.dirty">This must be a valid e-mail</li>
            <li *ngIf="emailMessage">{{ emailMessage}}</li>
          </ul>
          <mat-form-field [ngClass]="{'has-error': (firstFormGroup.controls.password.errors && firstFormGroup.controls.password.dirty), 'has-success': !firstFormGroup.controls.password.errors}">
            <input type="password" matInput placeholder="Password" class="form-control" formControlName="password" required>
          </mat-form-field>
          <ul class="help-block">
            <li *ngIf="firstFormGroup.controls.password.errors?.required && firstFormGroup.controls.password.dirty">This field is required</li>
          </ul>
          <mat-form-field [ngClass]="{'has-error': (firstFormGroup.controls.confirm.errors && firstFormGroup.controls.confirm.dirty) || (firstFormGroup.errors?.matchingPasswords && firstFormGroup.controls.confirm.dirty), 'has-success': !firstFormGroup.controls.confirm.errors && !firstFormGroup.errors?.matchingPasswords}">
            <input type="password" matInput placeholder="Confirm Password" formControlName="confirm" required>
          </mat-form-field>
          <ul class="help-block">
            <li *ngIf="firstFormGroup.controls.confirm.errors?.required && firstFormGroup.controls.confirm.dirty">This field is required</li>
            <li *ngIf="firstFormGroup.errors?.matchingPasswords && firstFormGroup.controls.confirm.dirty">Password do not match</li>
          </ul>
          <div>
            <br>
            <button mat-raised-button color="primary" matStepperNext type="submit" value="Submit">Register</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" (ngSubmit)="onPersonaSubmit()">
          <ng-template matStepLabel>Create your Persona</ng-template>
          <p>Before we start, you'll need to create your first "Persona". A Persona is like a Vessel, a place, where you can store your thoughts.</p>
          <br><p>This Persona is private, which means, that only you can see it. You can edit it later and add more.</p>
          <p>But let's start with your first Persona...</p>

          <mat-form-field>
            <input matInput placeholder="Name your Persona" formControlName="persona" required>
          </mat-form-field>
          <div>
            <br>
            <button mat-raised-button color="primary" matStepperNext type="submit" value="Submit">Create your Persona</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup" (ngSubmit)="onAbilitiesSubmit()">
          <ng-template matStepLabel>Start</ng-template>
            <p>You will start with three Categories, in which you can organise your thoughts. You can change or even delete them anytime!</p>
          <mat-list>
            <mat-list-item>
              <button mat-button color="primary">Diary</button>
              <button mat-button>Write down your Memories and Feelings as complex networks.</button>
            </mat-list-item>
            <mat-list-item>
              <button mat-button color="primary">Thoughts</button>
              <button mat-button>Save and structure your Thoughts in your personal Structure.</button>
            </mat-list-item>
            <mat-list-item>
              <button mat-button color="primary">Plans</button>
              <button mat-button>Create complex Projects and set Goals within your Timelines</button>
            </mat-list-item>

          </mat-list>
          <div>
            <br>
            <br>
            <button mat-raised-button matStepperNext color="primary" type="submit" value="Submit">Get started!</button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>