


<!-- Main Card -->
<div>
<mat-card class="main-card">
 
    <mat-card-title>
     <button mat-raised-button color="primary"> {{ chosenThought.label }} </button><small *ngFor="let context of contexts" (dblclick)="reloadThoughts(context._id)"><button mat-button>{{ context.label }} </button></small> 
    </mat-card-title>
  <mat-card-content>
    <mat-list appSortableList (sort)="sort($event)">
        <button mat-raised-button color="primary" *ngFor="let content of sortableList" class="box" appSortable (dblclick)="reloadThoughts(content._id)">
          {{ content.label }}
          <button mat-raised-button color="accent" class="box" *appDraggableHelper>{{ content.label }}</button>
        </button>
    </mat-list>

    </mat-card-content>


    <mat-card-actions>
    <form (ngSubmit)="onMeaningSubmit()">
      <mat-form-field>
        <input matInput placeholder="Thought" aria-label="Thought" [matAutocomplete]="auto" [formControl]="thoughtCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let thought of filteredThoughts | async" [value]="thought.label" (click)="copyThought(thought)">
            <span>{{ thought.label }}</span><small *ngFor="let context of thought.contexts"> | {{context.label}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    </mat-card-actions>
  
</mat-card>
</div>


    