<!-- Sidebar -->
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-list>
      <mat-list-item *ngFor="let link of links"><button type="button" *ngIf="link.linktype == 'context'" mat-button (click)="reloadThoughts(link._id)">{{ link.label }}</button></mat-list-item>
    </mat-list>
  </mat-drawer>	 

   


<!-- Main Card -->
<mat-card class="main-card">
<mat-card-title>
  <button type="button" class="context" mat-button (click)="drawer.toggle()">{{ chosenThought.label }}</button>
</mat-card-title>
<mat-list *ngFor="let link of links">
  <mat-list-item *ngIf="link.linktype == 'meaning'"><button type="button" mat-button (click)="reloadThoughts(link._id)">{{ link.label }}</button></mat-list-item>
</mat-list>

<form [formGroup]="formMeaning" (ngSubmit)="onMeaningSubmit()">
<mat-form-field>
  <input matInput placeholder="Add a Link" formControlName="label">
</mat-form-field>
</form>
 
</mat-card>
</mat-drawer-container>
