
<!-- Custom Success/Error Message -->
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- Login Form -->
<form [formGroup]="form" (submit)="onNewSubmit()">

  <!-- Username Field -->
  <div class="form-group">
    <label for="new">New Thought</label>
    <div>
      <input class="form-control" type="text" name="label" formControlName="label" />
      <!-- Validation -->
     </div>
  </div>
  <input class="btn btn-primary" type="submit" value="Submit" />
</form>