<div *ngIf="selectedThought">
    <form class="searchbar-form">
        <mat-form-field class="searchbar-full-width">
          <input matInput placeholder="Search" aria-label="Thought" [matAutocomplete]="auto" [formControl]="thoughtCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let thought of filteredThoughts | async" [value]="thought.label" (click)="goToThought(thought)">
              <span>{{ thought.label }}</span>
              <small *ngFor="let context of thought.contexts"> | {{ context.label }}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

    </div>