
<mat-card>

    <button mat-raised-button [matMenuTriggerFor]="menuDimensions">Choose Search Area (Not yet implemented)</button>
    <mat-menu #menuDimensions="matMenu" [overlapTrigger]="false">
        <button mat-menu-item (click)="userSearch()">
            Public</button>
      <button mat-menu-item (click)="privateSearch()">
       Private</button>
      <button mat-menu-item (click)="userSearch()">
        Users</button>
    </mat-menu>

  <form class="search-form">
    <mat-form-field class="search-full-width" >
      <input matInput placeholder="Search" aria-label="Thought" [matAutocomplete]="auto" [formControl]="thoughtCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let thought of filteredThoughts | async" [value]="thought.label" (click)="goToThought(thought)">
          <span>{{ thought.label }}</span>
          <small *ngFor="let context of thought.contexts"> | {{ context.label }}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

</mat-card>