<mat-toolbar-row *ngIf="selectedThought.level > 0">

    <form class="searchbar-form">
        <mat-form-field class="searchbar-full-width">
          <input matInput placeholder="Link" aria-label="Thought" [matAutocomplete]="auto" [formControl]="thoughtCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let thought of filteredThoughts | async" [value]="thought.label" (click)="selectDimensionThought(thought)">
              <span>{{ thought.label }}</span>
              <small *ngFor="let context of thought.contexts"> | {{ context.label }}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>


    <form class="searchbar-form">
        <button mat-button [matMenuTriggerFor]="menuDimensions">Choose Type</button>
        <mat-menu #menuDimensions="matMenu" [overlapTrigger]="false">
          <button mat-menu-item (click)="changeType('Date')"><i class="material-icons">event</i>Date</button>
          <button mat-menu-item (click)="changeType('Number')"><i class="material-icons">timeline</i>Number</button>
        </mat-menu>
   


      <mat-form-field *ngIf="addDate">
          <input matInput [matDatepicker]="picker" [(ngModel)]="newDate" name="newDate" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field *ngIf="addNumber">
          <input matInput #number [(ngModel)]="newNumber" name="newNumber" placeholder="Enter a Number">
        </mat-form-field>



      <button mat-button *ngIf="selectedDimension" (click)="onDimensionSubmit()">Add Dimension</button>
  
  
    </form>
  
  
  
  </mat-toolbar-row>
  
  
  <mat-toolbar-row *ngIf="selectedThought.level == 0 || selectedThought.level < -1">
    You can't Add Thoughts on this level.
  </mat-toolbar-row>
  
  <mat-toolbar-row *ngIf="selectedThought.level == -1">
    Create new Persona: Public / Private
  </mat-toolbar-row>



