<mat-toolbar-row *ngIf="selectedThought.level >= 0">

  <mat-form-field>
    <input matInput #label [(ngModel)]="newLabel" name="newLabel" placeholder="Enter a Label">
  </mat-form-field>

    <form>
        <button mat-button [matMenuTriggerFor]="menuDimensions">Choose Type of Dimension</button>
        <mat-menu #menuDimensions="matMenu" [overlapTrigger]="false">
          <button mat-menu-item (click)="changeType('Date')"><i class="material-icons">event</i> Date</button>
          <button mat-menu-item (click)="changeType('Number')"><i class="material-icons">timeline</i> Number</button>
          <button mat-menu-item (click)="changeType('Tag')"><i class="material-icons">flag</i> Tag</button>
        </mat-menu>
   


      <mat-form-field *ngIf="addDate">
          <input matInput [matDatepicker]="picker" [(ngModel)]="newDate" name="newDate" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field *ngIf="addNumber">
          <input matInput #number [(ngModel)]="newNumber" name="newNumber" placeholder="Enter a Number">
        </mat-form-field>
        <mat-form-field *ngIf="addTag">
            <input matInput #tag [(ngModel)]="newTag" name="newTag" placeholder="Add a Tag">
          </mat-form-field>
  


<div *ngIf="addTag || addNumber || addDate">
      <button mat-button (click)="onDimensionSubmit()">Add a Dimension</button>
    </div>
  
    </form>
  
  
  
  </mat-toolbar-row>
  
  
  <mat-toolbar-row *ngIf="selectedThought.level < 0">
    You can't Add Thoughts on this level.
  </mat-toolbar-row>
  



