<!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>


<div class="container-fluid">
	<div class="row">

		<div class="card col-md-4">
			<div class="card-body">
			<form [formGroup]="formLeft" (ngSubmit)="onLeftSubmit()">
				<div class="form-group">
					<button type="submit" class="btn btn-secondary btn-block">Add Link</button>
					<input type="text" class="form-control" name="value" formControlName="value" placeholder="Add a Link">
						<ul class="list-group list-group-flush">
							
						    <li class="list-group-item" *ngFor="let leftThoughts of allLeftThought"><a  class="btn btn-secondary btn-block" (click)="reloadThoughts(leftThoughts._id)">{{ leftThoughts.value }}</a></li>
						</ul>
				</div>
			</form>
			</div>
		</div>


		<div class="card col-md-4" *ngIf="foundThought">
						<!-- Bot Level 1 Form/View -->
			<div class="card-body">
			<form [formGroup]="formTop" (ngSubmit)="onTopSubmit()">
				<div class="form-group">
					<button type="submit" class="btn btn-secondary btn-block">Add</button>
						    	<input type="text" class="form-control" name="value" formControlName="value" placeholder="Add some Context">
						<ul class="list-group list-group-flush">
							<li class="list-group-item" *ngFor="let topThoughts of allTopThought"><a class="btn btn-secondary btn-block" (click)="reloadThoughts(topThoughts._id)">{{ topThoughts.value }}</a></li>
						</ul>
				</div>
			</form>
			</div>
			<!-- Mid Form/View -->
			<div class="card-title"><strong>{{ thoughtMid.value }}</strong></div>
			<!-- Bot Level 1 Form/View -->
			<div class="card-body">
			<form [formGroup]="formBot" (ngSubmit)="onBotSubmit()">
				<div class="form-group">
						<ul class="list-group list-group-flush">
							<li class="list-group-item" *ngFor="let botThoughts of allBotThought"><a  class="btn btn-secondary btn-block" (click)="reloadThoughts(botThoughts._id)">{{ botThoughts.value }}</a></li>
						    </ul>
							<input type="text" class="form-control" name="value" formControlName="value" placeholder="Add a meaning">
						    <button type="submit" class="btn btn-secondary btn-block">Add meaning</button>
				</div>
			</form>
			</div>
		</div>
		<div class="card col-md-4">
						<!-- Bot Level 1 Form/View -->
			<div class="card-body">
			<form [formGroup]="formRight" (ngSubmit)="onRightSubmit()">
				<div class="form-group">
					<button type="submit" class="btn btn-secondary btn-block">Add Link</button>
					<input type="text" class="form-control" name="value" formControlName="value" placeholder="Add a Link">
						<ul class="list-group list-group-flush">
							
						    <li class="list-group-item" *ngFor="let rightThoughts of allRightThought"><a class="btn btn-secondary btn-block" (click)="reloadThoughts(rightThoughts._id)">{{ rightThoughts.value }}</a></li>
						</ul>
				</div>
			</form>
			</div>
		<div class="card col-md-12" *ngIf="!foundThought">
			<div class="text-center">
				<h1>No Thought found!</h1>
			</div> 
		</div>
	</div>
</div>