nav {
}
a {
	color: black;
}
a:hover {
	color: #805096;
}

.btn-nav {
   border: 0 none;
   padding: 8px 24px;
   
}
 
.btn-nav {
    background: #ffffff;
    color: #805096;
}
 
.btn-nav:hover, .btn-nav:focus, .btn-nav:active, .btn-nav.active, .open > .dropdown-toggle.btn-nav {
    background: #F0F0FF;
}
 
.btn-nav:active, .btn-nav.active {
    background: #E0E0EF;
    box-shadow: none;
}