.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: right;
}

.example-full-width {
  width: 100%;
}

.searchbar-form {
  font-size: 14px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  min-height: 0px !important;
}

.searchbar-full-width {
  width: 100%;

}
.toolbar-spacer {
  flex: 1 1 auto;
}