<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="toolbar-spacer">Complexity-App</span>
    <!-- If not Logged In -->
    <button mat-button *ngIf="!authService.loggedIn()" routerLink="home">Home</button>
    <button mat-button *ngIf="!authService.loggedIn()" routerLink="login">Login</button>
    <button mat-button *ngIf="!authService.loggedIn()" routerLink="register">Register</button>

    <!-- If Logged In -->
    <button mat-button *ngIf="authService.loggedIn()" routerLink="myroom">My-Room</button>
    <button mat-button *ngIf="authService.loggedIn()" routerLink="new">New</button>
    <button mat-button *ngIf="authService.loggedIn()" routerLink="profile">Profile</button>
    <button mat-button *ngIf="authService.loggedIn()" (click)="onLogoutClick()">LogOut</button>
    <form class="searchbar-form">
    <mat-form-field class="searchbar-full-width">
    <input matInput placeholder="Search All">
    </mat-form-field>
    </form>
  </mat-toolbar-row>
</mat-toolbar>


<!--
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink="/">Home</a><span class="sr-only">Home</span></li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink="/register">Register</a></li>
            <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink="/login">Login</a></li>
             <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" href="#" (click)="onLogoutClick()">Logout</a></li>
             <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink="/profile">Profile</a></li>
            <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink="/new">New</a></li>
            <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink="/myroom">My-Room</a></li>
            <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink="/home">Logical-Room</a></li>
            <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" routerLink="/projects">Projects</a></li>
    </ul>
    <form [formGroup]="form" (ngSubmit)="searchSubmit()">
      <ul class="nav navbar-nav navbar-right" *ngIf="authService.loggedIn()">
      <div class="search-block input-group" [ngClass]="{ 'has-error': form.controls.search.dirty, 'has-success': thoughtByName && form.controls.search.dirty }" id="adv-search">
               <input type="text" #searchTextBox (keyup)="onKeyupNav(searchTextBox.value)" class="form-control dropdown-toggle" data-toggle="dropdown" aria-expanded="false" formControlName="search" name="search" placeholder="Something">
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg open">
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                              <ul class="navbar-nav navbar-right">
                                <li class="nav-item"><a class="nav-link" [routerLink]="['/myroom/',searchByName._id]">{{ searchByName.value }}</a></li>
                              </ul>
                            </div>
                        </div>
                    </div>
                </div>
      </div>
    </ul>
  </form>
  </div>
</nav>
-->
 