<div>

  <mat-toolbar *ngIf="showTool == 'new'">
    <app-new></app-new>
  </mat-toolbar>
  <mat-toolbar *ngIf="showTool == 'edit'">
    <app-edit></app-edit>
  </mat-toolbar>
  <mat-toolbar *ngIf="showTool == 'search'">
    <app-search></app-search>
  </mat-toolbar>
  <mat-toolbar *ngIf="showTool == 'dimension'">
    <app-dimension></app-dimension>
  </mat-toolbar>

  <mat-toolbar>
    <mat-toolbar-row>


      <span class='spacer'></span>
      <div *ngIf="selectedThought">{{ selectedThought.label }}</div>
      <button mat-button matTooltip="My Thoughts" *ngIf="authService.loggedIn()" (click)="loadMyThoughts()">
        <i class="material-icons">group_work</i> My Thoughts</button>
      <button mat-button matTooltip="New Thought" *ngIf="authService.loggedIn()" (click)="changeTool('new')">
        <i class="material-icons">add_circle</i> New Thought</button>
      <button mat-button matTooltip="Add Dimension" *ngIf="authService.loggedIn() && selectedThought.label != 'My Thoughts'" (click)="changeTool('dimension')">
        <i class="material-icons">add</i> Add Dimension</button>
      <button mat-button matTooltip="Edit" *ngIf="authService.loggedIn()" (click)="changeTool('edit')">
        <i class="material-icons">create</i> Details</button>

      <button mat-button *ngIf="!authService.loggedIn()" routerLink="../login">
        <i class="material-icons">account_box</i> Login</button>
      <button mat-button *ngIf="!authService.loggedIn()" routerLink="../register">
        <i class="material-icons">launch</i> Register</button>
      <div *ngIf="user">
        <button mat-button *ngIf="!authService.loggedIn()" matTooltip="{{ user.username | uppercase}}">
          <i class="material-icons">account_circle</i> {{ user.username | uppercase}}</button>

        <button mat-button *ngIf="authService.loggedIn()" matTooltip="{{ user.username | uppercase}}" [matMenuTriggerFor]="menu">
          <i class="material-icons">account_circle</i> {{ user.username | uppercase}}</button>
      </div>
      <button mat-button matTooltip="Change Perspective" (click)="changeTool('sidenav')">
        <i class="material-icons">view_quilt</i> Change Perspective</button>
      <button mat-button matTooltip="Search" (click)="changeTool('search')">
        <i class="material-icons">search</i> Search</button>

      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button *ngIf="authService.loggedIn" mat-menu-item (click)="loadMyUser()">My User</button>
        <button *ngIf="authService.loggedIn" mat-menu-item (click)="onLogoutClick()">Logout</button>
      </mat-menu>
      <span class='spacer'></span>
      <button mat-button>Complexity-App v.0.0.6</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>