<div class="container-fluid">
	<div class="row">
		 <!-- TopLeft: TimeLinks-->
			<div class="card col-md-3 border-0">
				<div class="card-body topleft">
					<ul class="list-group">
						    <li class="list-group" *ngFor="let link of allLinks">
						    	<h4 class="btn topleft-links btn-secondary btn-block" *ngIf="link.form=='time'" (click)="reloadThoughts(link._id)">{{ link.value }}{{ link.form }}</h4>
						    </li>
					</ul>
				</div>
			</div>

			<!-- TopMid: ContextLinks -->
			<div class="card col-md-6 border-0">
				<div class="card-body topmid">
					<ul class="list-group">
						    <li class="list-group" *ngFor="let link of allLinks">
						    	<h4 class="btn top-links btn-secondary btn-block" *ngIf="link.form=='context'" (click)="reloadThoughts(link._id)">{{ link.value }}</h4>
						    </li>
					</ul>
				</div>
			</div>


			<!-- TopRight: LinkedLinks -->
			<div class="card col-md-3 border-0">
				<div class="card-body topright">
					<ul class="list-group">
					    <li class="list-group" *ngFor="let link of allLinks">
					    	<h4 class="btn topright-links btn-secondary btn-block" *ngIf="link.form=='linked'" (click)="reloadThoughts(link._id)">{{ link.value }}</h4>
					    </li>
					</ul>
				</div>
			</div>
	</div>

	<div class="row">
			<!-- MidLeft: BeforeLinks -->
			<div class="card col-md-3 border-0">
				<div class="card-body midleft">
					<ul class="list-group">
						    <li class="list-group" *ngFor="let link of allLinks">
						    	<h4 class="btn btn-secondary left-links btn-block" *ngIf="link.form=='before'" (click)="reloadThoughts(link._id)">{{ link.value }}</h4>
						    </li>

						</ul>
				</div>
			</div>

			<!-- MidMid: ScaleThought -->
			<div class="card col-md-6 border-0">
				<div class="card-body">
					<ul class="list-group list-group">
								<li class="list-group">
									<h2 class="btn btn-secondary mid-links btn-block"><strong>{{ thoughtMid.value }}</strong></h2>
								</li>
					</ul>	
				</div>
			</div>

			<!-- MidRight: AfterLinks -->
			<div class="card col-md-3 border-0">
				<div class="card-body midright">
					<ul class="list-group">
						    <li class="list-group" *ngFor="let link of allLinks">
						    	<h4 class="btn btn-secondary right-links btn-block" *ngIf="link.form=='after'" (click)="reloadThoughts(link._id)">{{ link.value }}</h4>
						    </li>

						</ul>
				</div>
			</div>
	</div>



	<div class="row">
			<!-- BotLeft: Context1 -->
			<div class="card col-md-3 border-0">
				<div class="card-body botleft"></div>
			</div>
			<!-- BotMid: Context2 -->
			<div class="card col-md-6 border-0">
				<div class="card-body botmid">
						<ul class="list-group">
						    <li class="list-group" *ngFor="let link of allLinks">
						    	<h4 class="btn btn-secondary bot-links btn-block" *ngIf="link.form=='meaning'" (click)="reloadThoughts(link._id)">{{ link.value }}</h4>
					
						    </li>

						</ul>
				</div>
			</div>

			<!-- BotRight: Context3 -->
			<div class="card col-md-3 border-0">
				<div class="card-body botright"></div>
			</div>
	</div>


</div>

