<div *ngIf="selectedThought.level > 0">
  
    <form>
      <mat-form-field>
        <input matInput class="search-input" placeholder="{{ selectedThought.label }}" aria-label="Thought" [formControl]="editThought">
      </mat-form-field>
      <button mat-raised-button (click)="onEditSubmit()">Edit Label</button>
    </form>

    <div *ngIf="selectedThought.dimensions.length">
      <mat-list>
        <mat-list-item *ngFor="let dimension of selectedThought.dimensions">{{ dimension.dim }} {{ dimension.val }}</mat-list-item>
      </mat-list>
    </div>
 
</div>

<div *ngIf="selectedThought.level <= 0">
  You can't edit Thoughts on this level.
</div>