
    <mat-card *ngIf="selectedThought">
      <mat-card-header>
        <mat-card-title>Details: {{ selectedThought.label }}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <mat-list *ngFor="let dDims of selectedThought.dateDim">
              <mat-list-item>{{ dDims.label }} : {{ dDims.val }}</mat-list-item>
            </mat-list>
            <mat-list *ngFor="let dDims of selectedThought.numberDim">
                    <mat-list-item>{{ dDims.label }} : {{ dDims.val }} </mat-list-item>
                  </mat-list>
                  <mat-list *ngFor="let dDims of selectedThought.tagDim">
                        <mat-list-item>{{ dDims.label }} : {{ dDims.val }}</mat-list-item>
                      </mat-list>
                
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button color="primary" (click)="publish()">Publish</button>
          <button mat-raised-button color="primary">Share</button>
          <button mat-raised-button color="primary">Delete</button>
        </mat-card-actions>
    </mat-card>
